.nav-link, .nav-item, .navbar-brand {
    color: #fff !important
}

.navbar-collapse {
    justify-content: space-around !important;
}


.main {

    display: flex;
    align-items: center;
}

.Heading-text {
    font-weight: 900;
    font-size: 96px;
    color: #fff
}

.header-profile button {
min-width: 0;
margin: 0;
padding: 0;
border: 0;
background-color: transparent;
color: inherit;
font: inherit; 

}   
.main {
    background-image: url(../background.jpg);
    height: 100vh !important
}

.header-background-cover {
    background-image: url(../header.webp);
    background-size: cover!important;
    height: 100%;
    position: relative;
    padding: 1rem;
    width: 100%;
}

.page-wrap {
    min-height: 100%;
    padding-bottom: 30px;
}

.welcome {
    display: flex;
    justify-content: space-around;
    margin: 0 auto
}

.login {
  background: rgba(0, 0, 0, 0.7);
  width: 25%;
  margin: 0 auto;

}

.login h1 {
    color: #fff
}

.login div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center 
   
}

.navbar-brand {
    font-size: 25px
}

.nav-item a {
    display: block;
    padding: .5rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #fff !important;
} 

.logo {
    display: block;
    padding: .5rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #fff !important;
    font-size: 24px;
}

/** Entdecken **/
.header-profile {
    text-align: center;
}

.profession {
    margin-top: 10px;
}

.profession span{
   font-size: 20px;
}

.discover-content {
    display: flex;
    justify-content: space-around;
    margin-top: 15px

}

.musicians {
    width: 70%;
    margin: 1rem
}

.musician a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.musician {
    padding-bottom: 22px;
}


/** Profile **/
.profile {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10rem;
}

/** Home Musician List */

.card-img-top {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    }
    .card-body{
        text-align: center;
        box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
    }
    .card-body h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: blue;
    }
    .card-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    }
    
    .socials a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    }
    .socials {
    color: #fff;
    display: flex;
    justify-content: space-around;
    }    

    .socials button {
        padding: 20px;
        background: rgba(0, 0, 0, 0.7);
        border: none;
        color: white;
        border-radius: 50%;
        font-size: 20px;
    }
    
    .socials a:nth-child(1) {
    background: #3b5998;
    }.socials a:nth-child(2) {
    background: #ff0000;
    }.socials a:nth-child(3) {
    background: #007bb5;
    }.socials a:nth-child(4) {
    background: #ea4c89;
    }
    
    @media (max-width: 800px){
        .mx-30{
            margin-bottom: 30px;
        }
    }
    
    .uil-music-note {
        color: white
    }

    /** Feed */

    .feed, .filter {
        /* background: rgba(0, 0, 0, 1); */
        border-radius: 23px;
background: #080707;
box-shadow: inset 20px 20px 36px #050404,
            inset -20px -20px 36px #0b0a0a;
        height: 75%;
        color: #fff;
        border-radius: 15px;
        padding: 1rem;
        margin-top: 1rem;
  /*       backdrop-filter: blur(5px);
        box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5) */
    }

    .feed h2 {
        font-size: 20px;
    }

    .feed p {
        font-size: 16px;
    }

    .feed-single {
        border-bottom: 1px solid #fff;
    }

    /** Filter **/

    .filter {
        width: 20%
    }